* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    font-family: 'Share Tech Mono', monospace;
}

body {
    font-family: 'Share Tech Mono', monospace;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

li {
    list-style-type: none;
    background-color: white;
    margin-bottom: 1rem;
}

li a {
    font-size: 2rem;
    padding: 1rem 1rem;
    color: black;
    text-decoration: none;
    display: block;
}

li a:hover {
    color: white;
    background-color: gray;
    transition: 500ms;
  }

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.info {
    color: gray;
    font-size: 2rem;
    font-family: 'Share Tech Mono', monospace;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    z-index : 1;
}

.info a {
    color: gray;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: 10px;
    }
}

@media print {
    .info {
        display: none;
    }

    body {
        background-color: white;
        color: black;
    }
}