* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
}

body {
    font-family: 'Share Tech Mono', monospace;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    color: black;
    background: white;
}

::selection {
    color: black;
    background: white;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h1 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.input-group {
    margin: 20px 0;
}

input[type="text"], input[type="number"] {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border: 1px solid white;
}

label {
    color: white;
}

.info {
    color: gray;
    font-size: 1rem;
    font-family: 'Share Tech Mono', monospace;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    z-index : 1;
}

.info a {
    color: gray;
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: 18px;
    }

    .container {

        width: 90%;
    }
}

@media only screen and (max-width: 240px) {
    :root {
        font-size: 2vw;
    }
}


@media print {
    .info {
        display: none;
    }

    body {
        background-color: white;
        color: black;
    }

    label {
        color: black;
    }

    input[type="text"], input[type="number"] {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .info {
        display: none;
    }
}
